APP_NAME=ANNIE AI
APP_ENV=development
DEBUG=true

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=annie_db
DATABASE_USER=annie
DATABASE_PASSWORD=annie_password

DATABASE_URL=postgresql+asyncpg://annie:annie_password@db:5432/annie_db

AI_API_KEY=

WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
OPENAI_API_KEY=your_openai_api_key_here
